.city-dialog {
    width: 750px;
    background: #fcfbbb;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 99999;
    &.dialog-open {
        display: block;
        position: absolute;
    }
    .dialog-head {
        position: relative;
        background: #f6a828;
        border-radius: 5px;
        padding: 0 15px;
        color: #fff;
        .dialog-title {
            line-height: 36px;
        }
        .dialog-close {
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 0;
            line-height: 36px;
            color: #fff;
        }
    }
    .dialog-content {
        padding: 10px;
        .title {
            color: #ff7b0f;
            text-transform: uppercase;
            font-weight: 700;
        }
        .list-city, .internation-col {
            .title {
                margin-bottom: 5px;
            }
            li {
                margin-top: 1px;
                a {
                    font-size: 12px;
                    line-height: 20px;
                    color: #333;
                    display: block;
                    padding: 0 5px;
                    &:hover, &:active, &:focus {
                        background: #ff7b0f;
                        color: #fff;
                        font-weight: 700;
                    }
                }
                &.city-active {
                    a {
                        background: #ff7b0f;
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }
        .search-form {
            margin-bottom: 5px;
        }
    }
}