* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $gray-dark;
	background-color: $background-color;
}

.content-wrapper {
    min-height: 600px;
}

.sidebar-menu .treeview-menu {
    display: block !important;
}
.clear {
    clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.no-padding {
	padding: 0 !important;
}

.img-responsive {
	@include img-responsive();
}

.item-relative {
	position: relative;
}

.item-block {
	display: block;
}

.item-display-none {
	display: none;
}

.text-uppercase {
	text-transform: uppercase;
}

.full-width {
	width: 100% !important;
}

.half-width {
	width: 50%;
}

.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row-no-padding {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.row-no-padding [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row-padding-5 {
	margin-left: -2.5px !important;
	margin-right: -2.5px !important;
}

.row-padding-5 [class*="col-"] {
	padding-left: 2.5px !important;
	padding-right: 2.5px !important;
}

.row-padding-10 {
	margin-left: -5px !important;
	margin-right: -5px !important;
}

.row-padding-10 [class*="col-"] {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.row-padding-15 {
	margin-left: -7.5px !important;
	margin-right: -7.5px !important;
}

.row-padding-15 [class*="col-"] {
	padding-left: 7.5px !important;
	padding-right: 7.5px !important;
}

.row-padding-20 {
	margin-left: -10px !important;
	margin-right: -10px !important;
}

.row-padding-20 [class*="col-"] {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.row-padding-30 {
	margin-left: -15px !important;
	margin-right: -15px !important;
}

.row-padding-30 [class*="col-"] {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.box-controlls {
    margin: 15px 0;
}
