<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <base href="/" />

    <!-- Tell the browser to be responsive to screen width -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    @*<link rel="stylesheet" href="/bower_components/ionicons/css/ionicons.css" />*@
    <link href="~/bower_components/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />
    <link href="~/app/assets/css/style.min.css" rel="stylesheet" />
</head>
<body class="skin-blue skin-default sidebar-mini" ng-app="simonline" ng-controller="rootController">
    <div ui-view></div>

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <script src="~/bower_components/jquery-json/dist/jquery.json.min.js"></script>
    <script src="~/bower_components/admin-lte-sass/javascripts/app.js"></script>
    <script src="~/bower_components/admin-lte-sass/javascripts/demo.js"></script>
    <script src="~/bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>


    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/bower_components/toastr/toastr.min.js"></script>
    <script src="~/bower_components/bootbox/bootbox.js"></script>
    <script src="~/bower_components/ngBootbox/ngBootbox.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="~/bower_components/js-xlsx/dist/xlsx.core.min.js"></script>
    <script src="~/bower_components/angular-js-xlsx/angular-js-xlsx.js"></script>

    <script src="~/app/assets/js/common.js"></script>

    <script src="~/app/shared/modules/simonline.common.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>

    <script src="~/app/shared/directives/asDateDirective.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    
    <script src="~/app/app.js"></script>

    <script src="~/app/shared/controllers/rootController.js"></script>
    <script src="~/app/components/dashboard/dashboardController.js"></script>

    <script src="~/app/components/auth/auth.module.js"></script>
    <script src="~/app/components/auth/authController.js"></script>
    <script src="~/app/components/auth/loginController.js"></script>
    <script src="~/app/components/auth/forgotPasswordController.js"></script>
    <script src="~/app/components/auth/resetPasswordController.js"></script>

    <script src="~/app/components/order/order.module.js"></script>
    <script src="~/app/components/order/orderListController.js"></script>

    <script src="~/app/components/sim-stores/simStores.module.js"></script>
    <script src="~/app/components/sim-stores/simStoresAddController.js"></script>
    <script src="~/app/components/sim-stores/simStoresListController.js"></script>

    <script src="~/app/components/app-groups/appGroups.module.js"></script>
    <script src="~/app/components/app-groups/appGroupListController.js"></script>
    <script src="~/app/components/app-groups/appGroupEditController.js"></script>
    <script src="~/app/components/app-groups/appGroupAddController.js"></script>

    <script src="~/app/components/app-users/appUsers.module.js"></script>
    <script src="~/app/components/app-users/appUserListController.js"></script>
    <script src="~/app/components/app-users/appUserEditController.js"></script>
    <script src="~/app/components/app-users/appUserAddController.js"></script>

    <script src="~/app/components/app-roles/appRoles.module.js"></script>
    <script src="~/app/components/app-roles/appRoleListController.js"></script>
    <script src="~/app/components/app-roles/appRoleEditController.js"></script>
    <script src="~/app/components/app-roles/appRoleAddController.js"></script>
</body>
</html>