@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cám ơn bạn đã kích hoạt tài khoản thành công!. @Html.ActionLink("Click vào đây để đăng nhập quản lý sim", "Index", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
