<div class="login-box">
    <div class="login-logo">
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <!--<p class="login-box-msg">Đăng nhập hệ thống</p>-->
        <form role="form" method="post" ng-submit="forgotPasswordSubmit()">
            <div class="confirm-dialog ng-hide" ng-show="isSubmited">
                <h2 class="title">Đã gửi mail cài đặt mật khẩu</h2>
                <p class="confirm-content">Nhấp vào liên kết mà chúng tôi đã gửi email cho bạn tại {{forgotPasswordData.email}} trong vòng một giờ tới để cài đặt lại mật khẩu mới.</p>
            </div>
            <div class="form-group has-feedback ng-show" ng-hide="isSubmited">
                <input type="email" class="form-control" placeholder="Tài khoản email" ng-model="forgotPasswordData.email">
                <i class="fa fa-envelope form-control-feedback" aria-hidden="true"></i>
            </div>
            <div class="row">
                <div class="col-xs-12 ng-show" ng-hide="isSubmited">
                    <button type="submit" class="btn btn-primary pull-right btn-flat">Lấy lại mật khẩu</button>
                </div>
                <div class="col-xs-12 clearfix ng-hide" ng-show="isSubmited">
                    <button type="submit" class="btn btn-primary pull-left btn-flat">Gửi lại mail</button>
                    <a target="_blank" href="https://mail.google.com/mail/u/?authuser={{forgotPasswordData.email}}" class="btn btn-primary pull-right btn-flat">Vào mail</a>
                </div>
            </div>
            <div class="text-center">
                <a ui-sref="auth.login">Đăng nhập</a>
            </div>
        </form>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->