body {
    background: url('../../assets/imgs/bg.jpg') no-repeat center center;
}
.login-box-body {
    background: rgba(255, 255, 255, .3) !important;
    border-radius: 5px;
}
.form-control-feedback {
    line-height: 34px !important;
}
.confirm-dialog {
    color: #fff;
}
